---

import Layout from "../layouts/Layout.astro";

const pageTitle = "About Me";
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const skillColor = "purple";


---
<Layout title={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    {skills.map(skill => <span>{skill}</span>)}

</Layout>

<style define:vars={{skillColor}}>
    h1 {
        color: purple;
    }
</style>
